/*stylesheet */
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.container {
  height: 120px;
  width: 16rem;
  padding: 6px;
  background-color: #107ab0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 6px;
}

button {
  height: 50px;
  width: 90px;
  background-color: white;
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}
